$Main:#e0f2fb;
$nameTitel:#14171a;
$MainСontent:#fff;
$LeftAndRightWidth: 110%;
$rightWidth:380px;
$cenetrBlockWidth:100%; 
$color:#2aa3ef;
$Tweet:#667886;
$fontWeight: bold;
$textdecoration: none;
$backgroundInput:#f5f8fa;


////Отступы для центрального блока
$marginTop_CenterBox:20px;

////Отступы для правого блока
$marginLeft_RigtnBox:20px;
$marginRight_RightBox:20px;
$marginTop_RightBox:20px;
$marginBottom_RightBox:20px;